.photo-grid {
    margin: 0 auto 0 auto ;
    padding: 0;
    width: 92.5%;
  }
  
  @media screen and (max-width:1024px) {
    .photo-grid {
    
     max-width: 90.6%;
    }
  }

  @media screen and (max-width:880px) {
    .photo-grid {
     max-width: 720px;
     max-width: 93.75% ;
    }
  }

  @media screen and (max-width:320px) {
    .photo-grid {
     max-width: 288px;
    }
  }