.places {
  max-width: 984px;
  margin: 92px auto 0 auto;
  padding: 0;
}

@media screen and (max-width:1024px) {
  .places {
    max-width: 928px;
    margin-left: 4.69%;
    margin-right: 4.69%;

  }
}

@media screen and (max-width:768px) {
  .places {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    margin-top: 88px;
    margin-bottom: 90px;
  }
}

@media screen and (max-width:700px) {
  .places {
    max-width: 100%;
    margin: 0;
    margin-top: 64px;
    margin-bottom: 66px;
    display: grid;
    row-gap: 50px;

  }
}