.header__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 18px 0 6px 18px;
    
}
@media screen and (max-width:320px) {
    .header__links {
      margin-top:14px;
    }
  }