.header__logo {
    margin: 0%;
    max-width: 176px;
    max-height: 52px;
  }
  
  .header__logo:hover {
    transition: .5s linear;
    opacity: .5;
  }
  
  @media screen and (max-width:320px) {
    .header__logo {
      max-width: 142px;
      max-height: 42px;
    }
  }
  
  