.photo-grid__item {
    width: 284px;
    height: 213px;
    margin: 0;
  
  }
  
  @media screen and (max-width:320px) {
    .photo-grid__item {
      max-width: 288px;
      max-height: 216px;
      margin: auto;
    }
  }
  