
.place__paragraph {
   width: 100%;
    margin: 0;
    margin-bottom: 26px;
    padding: 0%;
    display: block;
    box-sizing: border-box;
  }

  @media screen and (max-width:700px) {
    .place__paragraph {
      margin-bottom: 25px;
    }
  }

  .place__paragraph:last-of-type {
    margin-bottom: 0;
  }
  