@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__lang/header__lang-link.css);
@import url(../blocks/header/__lang/header__lang-link_active.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__items/photo-grid__items.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/photo-grid/__item/photo__item.css);




/*places*/
.places {
  max-width: 984px;
  margin: 92px auto 92px auto;
  padding: 0;

}

.place {
  margin: 0 0 80px 0;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(340px, auto));
  grid-column-gap: 40px;
  grid-row-gap: 48px;

}

@media screen and (max-width:320px) {
  .place {
    margin: 0 0 50px 0;
    row-gap: 32px;
    display: flex;
    flex-direction: column;

  }
}

.place__image {
  margin: 0;
  max-width: 460px;
  max-height: 460px;
  object-position: center;
  object-fit: cover;
}

.place__title {
  margin: 0%;
  text-align: left;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  width: 100%;

}

@media screen and (max-width:320px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;

  }
}

.place__website {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

}


@media screen and (max-width:320px) {
  .place__website {
    margin-left: 16px;
  }
}

.place__url-heading {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #AAAAAA;
}

.place__link {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  color: white;
}






.place__paragraph-conteiner {
  margin: 0;
  padding: 0;
  max-width: 484px;
  font-size: 18px;
  line-height: 163%;
  font-weight: 400;




}

@media screen and (max-width:320px) {
  .place__paragraph-conteiner {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 16px;
    line-height: 163%;
  }
}


.place__paragraph {
  margin: 0;
  margin-bottom: 26px;
  padding: 0%;

}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}


@media screen and (max-width:320px) {
  .place__paragraph {
    margin: 0 0 25px 0;
    padding: 0%;

  }
}

/*cover*/
.cover {
  margin: 0 auto 0 auto;
  max-width: 92.5%;
  max-height: 740px;
  position: relative;
  background-image: url(../images/cover-trains.jpg);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  aspect-ratio: 16/10;

}

@media screen and (max-width:320px) {
  .cover {
    max-width: 320px;
  }
}

.cover::before {
  content: "";
  position: absolute;
  background-color: #2A2C2F;
  opacity: .3;
  width: 100%;
  height: 100%;
}

.cover:hover::before {
  content: "";
  opacity: .7;
  z-index: 33;

}





.cover__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  text-decoration: none;
  z-index: 55;
}



.cover__title {
  margin: 20.7% auto auto auto;
  padding: 0%;
  color: white;
  z-index: 3;
  max-width: 560px;
  text-align: center;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
}

@media screen and (max-width:320px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 10.31% 5% 0 5%;

  }
}

.cover__subtitle {
  margin: 2.7% auto;
  color: white;

  z-index: 3;
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-weight: 400;
}

@media screen and (max-width:320px) {
  .cover__subtitle {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    margin: 16px auto 32px auto;
  }
}



/*footer*/
.footer {
  padding: 0;
  margin: 92px auto 24px auto;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;

}

@media screen and (max-width:320px) {
  .footer {
    margin: 20% auto 7.5% 5%;
    flex-direction: column;

  }
}

.footer__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;





}

@media screen and (max-width:320px) {
  .footer__links {
    flex-direction: column;
    justify-items: flex-start;

  }
}




.footer__link {
  margin: 0;
  margin-right: 18px;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width:320px) {
  .footer__link {
    text-align: start;
    margin-bottom: 10%;
    font-size: 24px;
    line-height: 24px;
  }

  .footer__link:last-of-type {
    margin-bottom: 0;
  }
}


.footer__copyright {

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;


}

@media screen and (max-width:320px) {
  .footer__copyright {
    margin: 0;
    margin-top: 15%;
    line-height: 14px;

  }
}