.photo-grid__items {
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr ));
    grid-column-gap:16px;
    grid-row-gap: 16px;
    list-style: none;
    justify-items:center;
    width: 100%;
  }
  
  @media screen and (max-width:1024px) {
    .photo-grid__items {
      grid-gap: 14px 14px;
    }
  }

  @media screen and (max-width:880px) {
    .photo-grid__items {
      grid-gap:16px 16px;
    }
  }

  @media screen and (max-width:320px) {
    .photo-grid__items {
      grid-row-gap:12px;
      max-height: 2724px;
    }
  }